body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#FFFFFF;
    font-family: 'RobotoRegular';
    font-size:12px;
}

#table {
    padding-top:40px;
}

#frm_login {
    padding-top: 5px; 
    padding-left:20px; 
    padding-right:20px; 
    width: 100%;
}

.maxwidth {
    width: 100%;
}

.app {
    position: absolute;          
    height: 100%;   
    width: 100%;
}

.noborder {

}

.border {
    border: 2px solid #717D7E; 
}

.login_box {
    position: absolute;
    text-align: center;
    vertical-align: central;
    width: 100%;     
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {

}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #696969;
  font-size: 20px;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #000000;
}
