<?xml version="1.0" encoding="utf-8"?>
<widget defaultlocale="en-US" id="io.cordova.myappd36506" version="1.0.0" windows-packageVersion="1.1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">
  <name>Kanboard Mobile</name>
  <description>A mobile app for the Kanboard System.</description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">Harry Conor Lucas</author>
  <content src="index.html" />
  <access origin="*" />
  <vs:features />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.1" />
  <plugin name="cordova-plugin-whitelist" version="1" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <icon src="res/icons/logo.png" />
  <platform name="android">
    <splash density="land-hdpi" src="res/screens/android/screen-hdpi-landscape.png" />
    <splash density="land-ldpi" src="res/screens/android/screen-ldpi-landscape.png" />
    <splash density="land-mdpi" src="res/screens/android/screen-mdpi-landscape.png" />
    <splash density="land-xhdpi" src="res/screens/android/screen-xhdpi-landscape.png" />
    <splash density="port-hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
    <splash density="port-ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
    <splash density="port-mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
    <splash density="port-xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
  </platform>
  <platform name="ios">
    <splash height="480" src="res/screens/ios/screen-iphone-portrait.png" width="320" />
    <splash height="960" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" />
    <splash height="1024" src="res/screens/ios/screen-ipad-portrait.png" width="768" />
    <splash height="2048" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" />
    <splash height="768" src="res/screens/ios/screen-ipad-landscape.png" width="1024" />
    <splash height="1536" src="res/screens/ios/screen-ipad-landscape-2x.png" width="2048" />
    <splash height="1136" src="res/screens/ios/screen-iphone-568h-2x.png" width="640" />
    <splash height="1334" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" />
    <splash height="2208" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" />
    <splash height="1242" src="res/screens/ios/screen-iphone-landscape-736h.png" width="2208" />
  </platform>
  <platform name="windows">
    <splash height="300" src="res/screens/windows/SplashScreen.png" width="620" />
  </platform>
  <platform name="wp8">
    <splash height="1280" src="res/screens/wp8/SplashScreenImage.png" width="768" />
  </platform>
  <plugin name="cordova-plugin-file" version="4.1.1" />
  <plugin name="cordova-plugin-winstore-jscompat" src="https://github.com/vjrantal/cordova-plugin-winstore-jscompat.git" version="0.0.1" />
  <plugin name="msopentech.azure.NotificationHub" src="https://github.com/sgrebnov/cordova-plugin-azure-notificationhub.git" version="0.0.1" />
  <vs:platformSpecificValues>
    <vs:platformSpecificWidget platformName="windows">
    </vs:platformSpecificWidget>
  </vs:platformSpecificValues>
  <preference name="WindowsStoreIdentityName" value="11539HarryCLucas.sigupa" />
  <preference name="WindowsStorePublisherName" value="HarryCLucas" />
  <preference name="WindowsStoreDisplayName" value="Kanboard Mobile" />
  <plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.4" src="https://github.com/katzer/cordova-plugin-local-notifications.git" />
  <plugin name="cordova-plugin-app-event" version="1.2.0" />
  <plugin name="cordova-plugin-device" version="1.1.2" />
  <plugin name="cordova-plugin-background-mode" version="0.6.5" src="https://github.com/katzer/cordova-plugin-background-mode.git" />
  <plugin name="cordova-plugin-secure-storage" version="2.6.0" src="https://github.com/crypho/cordova-plugin-secure-storage.git" />
</widget>