<div style="margin: 7px 7px 7px 7px;">
    <div style="font-size: 20px;">
        <h2>Create new work item</h2>
    </div>
    <form>
        <fieldset class="form-group">
            Name: <input class="form-control" ng-model="newItem.title" />
        </fieldset>
        <fieldset class="form-group">
            Board: <select class="form-control" name="Board" ng-model="newItem.column_id">
                <option ng-repeat="column in board_details[0].columns" value="{{column.id}}">{{column.title}}</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            Swimlane: <select class="form-control" name="Swimlane" ng-model="newItem.swimlane_id">
                <option  ng-repeat="swimlane in board_details" value="{{swimlane.id}}">{{swimlane.name}}</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            User: <select class="form-control" name="User" ng-model="newItem.owner_id">
                <option ng-repeat="(id, name) in userList" value="{{id}}">{{name}}</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            Description:
            <textarea class="form-control" rows="4" cols="30" ng-model="newItem.description"></textarea>
        </fieldset>
        <fieldset class="form-group">
            Due date:
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="newItem.duedate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker style="margin-left: 10px; margin-right: 10px;" data-ng-model="newItem.duedate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }" />
                </ul>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <button class="btn btn-primary" ng-click="submitChanges()">Submit Changes</button>
        </fieldset>
    </form>
</div>