<div style="margin: 7px 7px 7px 7px;">
    <div style="font-size: 20px;">
        <h2>{{currentWorkItem.title}}</h2>
    </div>
    <form>
        <fieldset class="form-group">
            Name: <input class="form-control" ng-model="newItem.title" />
        </fieldset>
        <fieldset class="form-group">
            In swimlane: <i>{{newItem.swimlane_name}}</i>
        </fieldset>
        <fieldset class="form-group">
            Board: <select class="form-control" name="Board" ng-model="newItem.column_id" ng-options="column.id as (column.title) for column in board_details[0].columns">
            </select>
        </fieldset>
        <fieldset class="form-group">
            Description: 
            <textarea class="form-control" rows="4" cols="30" ng-model="newItem.description"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <button class="form-control btn btn-primary" ng-click="closeTask()">Close this task</button>
        </fieldset>
        <fieldset class="form-group">
            <button class="form-control btn btn-primary" ng-click="submitChanges()">Submit Changes</button>
        </fieldset>
    </form>
    <form>
        <h3>Comments</h3>
        <fieldset class="form-inline">
            <div class="form-group">
                <input class="form-control" ng-model="new_comment.text" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="submitComment()">Send</button>
                <i ng-if="sending == true">Sending...</i>
            </div>
        </fieldset>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="comment in commentList | reverse">
                <div class="list-group-item-heading" style="font-size: 23px"><b>{{comment.username}}</b></div>
                <div class="list-group-item-text" style="font-size: 20px">{{comment.comment}}</div>
            </li>
        </ul>
    </form>
</div>
